<section class="content">
  <div class="content__inner">
    <div class="catalog">
      <div class="row">
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="novelty">Новинка</div>
              <div class="elem__section"><a href="#">Джемперы</a></div>
              <div class="elem__name">Oodjll</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item1.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">3499 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="elem__section"><a href="#">Платья</a></div>
              <div class="elem__name">Платье Dorothy Perkins Curve</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item3.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">6471 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="elem__section"><a href="#">Шорты</a></div>
              <div class="elem__name">Шорты домашние Incity</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item2.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">899 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="stock">акция</div>
              <div class="elem__section"><a href="#">Брюки</a></div>
              <div class="elem__name">Violeta by Mango</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item4.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">2999 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>



        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">

              <div class="elem__section"><a href="#">Рубашки</a></div>
              <div class="elem__name">Рубашки в клетку Evans</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item5.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">5478,43 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="elem__section"><a href="#">Платья</a></div>
              <div class="elem__name">Платье Dorothy Perkins Curve</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item3.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">6471 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="elem__section"><a href="#">Куртки</a></div>
              <div class="elem__name">Куртка желтая оладушка Mango</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item7.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">30599 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>

          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="elem__section"><a href="#">Пальто</a></div>
              <div class="elem__name">Классическое пальто Grand Style</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item8.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">4390 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>



        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="novelty">Новинка</div>
              <div class="elem__section"><a href="#">Шапки</a></div>
              <div class="elem__name">Шерстяная вязаная шапка Ferz</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item9.png" alt=""></a>

            </div>
            <div class="elem__price"><a href="#">5699 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="elem__section"><a href="#">Мокасины</a></div>
              <div class="elem__name">Vitacci</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item10.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">3130 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>
        <div class="col-6">
          <div class="catalog__elem big">

            <div class="elem__title">
              <div class="stock">акция</div>
              <div class="elem__section"><a href="#">Юбки</a></div>

              <div class="elem__name">Молодежная синяя юбка Dolce Gavana для модниц</div>
            </div>
            <div class="elem__picture"><a href="#"><img class="big__picture" src="../img/item11.png" alt=""></a></div>
            <div class="elem__price"><a href="#">2999 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>



        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">

              <div class="elem__section"><a href="#">Туфли</a></div>
              <div class="elem__name">Ярко глянцевые туфли Aldo</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item12.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">5478,43 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="novelty">Новинка</div>
              <div class="elem__section"><a href="#">Юбки</a></div>
              <div class="elem__name">Юбка Dorothy Perkins с карманами</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item13.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">2499 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="elem__section"><a href="#">Сандалии</a></div>
              <div class="elem__name">Модные сандалии Mon Ami</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item14.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">1000 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="elem__section"><a href="#">Платки</a></div>
              <div class="elem__name">Зеленый платок в клетку Venera</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item15.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">4399 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>



        <div class="col-6">
          <div class="catalog__elem big">

            <div class="elem__title">
              <div class="stock">акция</div>
              <div class="elem__section"><a href="#">Платки</a></div>
              <div class="elem__name">Классический платок Mascotte</div>
            </div>
            <div class="elem__picture"><a href="#"><img class="big__picture" src="../img/item16.png" alt=""></a></div>



            <div class="elem__price"><a href="#">999 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>

          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="novelty">Новинка</div>
              <div class="elem__section"><a href="#">Рюкзаки</a></div>
              <div class="elem__name">Яркий рюкзак Kawaii Factory</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item17.png" alt=""></a>

            </div>
            <div class="elem__price"><a href="#">2200 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>


          </div>
        </div>
        <div class="col-3">
          <div class="catalog__elem">
            <div class="elem__title">
              <div class="elem__section"><a href="#">Шапки</a></div>
              <div class="elem__name">Шапка SE w Solid Pom Pom</div>
            </div>
            <div class="elem__picture"><a href="#"><img src="../img/item18.png" alt=""></a>
            </div>
            <div class="elem__price"><a href="#">3845 руб</a></div>
            <div class="basket"> <button class="btn btn__catalog"><span>В корзину</span></button></div>

          </div>
        </div>
      </div>


    </div>
  </div>
</section>
