<div class="main">
<div class="container">
  <div class="main__banner">
    <div class="banner__text">
      <ul class="breadcrumb">
        <li><a href="#">Главная</a>
  </li>
        <li class="active">Женщинам</li>
      </ul>
      <h1 class="banner__name">Женская одежда</h1>
    </div>
    <div class="banner__picture">


    </div>
  </div>
  <div class="main__inner">

{{>layouts/sidebar}}
{{>blocks/section}}
  </div>
</div>
</div>
