<div class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="top__inner">
        <div class="footer__list">
          <div class="list__title">Вопросы</div>
          <ul class="list__info">
            <li><a href="">Как оформить заказ</a></li>
            <li><a href="">Условия доставки</a></li>
            <li><a href="">Возврат и обмен</a></li>
            <li><a href="">Оплата</a></li>
            <li><a href="">Оферта</a></li>
          </ul>
        </div>
        <div class="footer__list">
          <div class="list__title">В наличии</div>

          <ul class="list__info">
            <li><a href="">Женщинам</a></li>
            <li><a href="">Мужчинам</a></li>
            <li><a href="">Детям</a></li>
            <li><a href="">Аксессуары</a></li>
          </ul>

        </div>
        <div class="footer__list">
          <div class="list__title">Другое</div>

          <ul class="list__info">
            <li><a href="">Вакансии</a></li>
            <li><a href="">О компании</a></li>
            <li><a href="">Партнерская программа</a></li>
            <li><a href="">Инвесторам</a></li>
          </ul>

        </div>
        <div class="footer__list">
          <div class="list__title">Мы в социальных сетях</div>

          <ul class="list__info">
            <li><a href="">Фейсбук</a></li>
            <li><a href="">В контакте</a></li>
            <li><a href="">Ютуб</a></li>
            <li><a href="">Одноклассники</a></li>
            <li><a href="">Инстаграм</a></li>
          </ul>

        </div>
        <div class="footer__list">
          <div class="list__title">Способы оплаты</div>

          <ul class="list__info list__link">
            <li><a class="bg-qiwi" href="#"></a></li>
            <li><a class="bg-yandex" href="#"></a></li>
          </ul>
          <ul class=" list__info list__link">
            <li><a class="bg-alfa" href="#"></a></li>
            <li><a class="bg-sberbank" href="#"></a></li>
            <li><a class="bg-visa" href="#"></a></li>
            <li><a class="bg-webmoney" href="#"></a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="bottom__inner">
        <div class="bottom__left">
          <div class="date">2010-2015 OOO "Swiet"</div>
          <div class="mobile_v"><a href="">Мобильная версия</a></div>
        </div>

          <div class="logo"><a href="#"><img src="../img/footer__icons.jpg" alt=""></a></div>

      </div>
    </div>
  </div>
</div>
