<div class="header">
  <div class="header__top">
    <div class="container">
      <div class="top__inner">
        <div class="top__left">
          <div class="header__logo">
            <a href="#"><img src="../img/header__logo.jpg" alt="">
        </div></a>
            <nav class="header__menu">
              <li>
                <a href="#" class="_link active">Женщинам
            </a>
              </li>
              <li><a href="#" class="_link">Мужчинам</a></li>
              <li><a href="#" class="_link">Детям</a></li>
              <li><a href="#" class="_link">Аксессуары</a></li>
            </nav>
          </div>
          <ul class="header__button">
            <li class="currency">
              <button class="btn btn-blue">
                            <i class="icon-flag"></i>
                            <span>RUB</span>
                            </button>
            </li>

            <li>
              <button class="btn btn-blue">
                                <span>Войти</span>
                            </button>
            </li>

            <li>
              <button class="btn btn-green">
                            <i class="icon-cart"></i>
                            <span>Корзина</span>
                            </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="container">
        <div class="bottom__inner">

            <ul class="header__sub__menu">
              <li><a href="#" class="_link">Новинки</a></li>
              <li><a href="#" class="_link">Стиль жизни </a></li>
              <li><a href="#" class="_link">Одежда</a></li>
              <li><a href="#" class="_link">Обувь</a></li>
              <li><a href="#" class="_link">Бренды</a></li>
              <li><a href="#" class="_link">Премиум</a></li>
              <li><a href="#" class="_link">Спорт</a></li>
              <li><a href="#" class="_link">Красота</a></li>
              <li><a href="#" class="_link">Распродажа</a></li>
            </ul>

          <form class="header__search">
            <input type="text" class="search__field" placeholder="Поиск">
            <div class="search__button">
              <button></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
