<aside class="sidebar">
  <div class="sidebar__inner">
    <div class="sidebar__elem">
      <div class="elem__title">
        <div class="name">Категория</div>
        <div class="arrow__top"></div>
      </div>
      <ul class="elem__info">
        <li><label for="check1" class="checkbox__item"><input type="checkbox" id="check1" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Платья и сарафаны</div></label></li>
        <li><label for="check2" class="checkbox__item"><input type="checkbox" id="check2" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Верхняя одежда</div></label></li>
        <li><label for="check3" class="checkbox__item"><input type="checkbox" id="check3" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Пляжная одежда</div></label></li>
        <li><label for="check4" class="checkbox__item"><input type="checkbox" id="check4" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Блейзеры</div></label></li>
        <li><label for="check5" class="checkbox__item"><input type="checkbox" id="check5" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Кардиганы</div></label></li>

        <li><label for="check6" class="checkbox__item"><input type="checkbox" id="check6" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Пальто</div></label></li>

        <li><label for="check7" class="checkbox__item"><input type="checkbox" id="check7" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Платья</div></label></li>

        <li><label for="check8" class="checkbox__item"><input type="checkbox" id="check8" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Худи</div></label></li>

        <li><label for="check9" class="checkbox__item"><input type="checkbox" id="check9" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Куртки</div></label></li>

        <li><label for="check10" class="checkbox__item"><input type="checkbox" id="check10" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Джинсы</div></label></li>

        <li><label for="check11" class="checkbox__item"><input type="checkbox" id="check11" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Джемперы</div></label></li>

        <li><label for="check12" class="checkbox__item"><input type="checkbox" id="check12" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Женское белье</div></label></li>

        <li><label for="check13" class="checkbox__item"><input type="checkbox" id="check13" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Ночная одежда</div></label></li>

      </ul>
      <button class="btn btn__sidebar"><span>Показать еще</span></button>
    </div>
    <div class="sidebar__elem">
      <div class="elem__title">
        <div class="name">Бренд</div>
        <div class="arrow__right"></div>
      </div>
    </div>
    <div class="sidebar__elem">
      <div class="elem__title">
        <div class="name">Размер</div>
        <div class="arrow__top"></div>
      </div>
      <ul class="elem__info list__size">
        <li><label for="check14" class="checkbox__item"><input type="checkbox" id="check14" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">38</div></label></li>
        <li><label for="check15" class="checkbox__item"><input type="checkbox" id="check15" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">40</div></label></li>
        <li><label for="check16" class="checkbox__item"><input type="checkbox" id="check16" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">42</div></label></li>
        <li><label for="check17" class="checkbox__item"><input type="checkbox" id="check17" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">44</div></label></li>
        <li><label for="check18" class="checkbox__item"><input type="checkbox" id="check18" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">46</div></label></li>
        <li><label for="check19" class="checkbox__item"><input type="checkbox" id="check19" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">48</div></label></li>
        <li><label for="check20" class="checkbox__item"><input type="checkbox" id="check20" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">50</div></label></li>
        <li><label for="check21" class="checkbox__item"><input type="checkbox" id="check21" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">52</div></label></li>
        <li><label for="check22" class="checkbox__item"><input type="checkbox" id="check22" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">54</div></label></li>
        <li><label for="check23" class="checkbox__item"><input type="checkbox" id="check23" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">56</div></label></li>
        <li><label for="check24" class="checkbox__item"><input type="checkbox" id="check24" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">58</div></label></li>
        <li><label for="check25" class="checkbox__item"><input type="checkbox" id="check25" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">60</div></label></li>
        <li><label for="check26" class="checkbox__item"><input type="checkbox" id="check26" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">62</div></label></li>
        <li><label for="check27" class="checkbox__item"><input type="checkbox" id="check27" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">64</div></label></li>
        <li><label for="check28" class="checkbox__item"><input type="checkbox" id="check28" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">66</div></label></li>
        <li><label for="check29" class="checkbox__item"><input type="checkbox" id="check29" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">68</div></label></li>
        <li><label for="check30" class="checkbox__item"><input type="checkbox" id="check30" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">70</div></label></li>
        <li><label for="check31" class="checkbox__item"><input type="checkbox" id="check31" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">72</div></label></li>

      </ul>
    </div>
    <div class="sidebar__elem">
      <div class="elem__title">
        <div class="name">Цвет</div>
        <div class="arrow__top"></div>
      </div>
      <ul class="elem__info list__color">
        <li><label for="check32" class="checkbox__item"><input type="checkbox" id="check32" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text"><div class="color blue">Синий</div></div></label></li>
        <li><label for="check33" class="checkbox__item"><input type="checkbox" id="check33" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text"><div class="color red">Красный</div></div></label></li>
        <li><label for="check34" class="checkbox__item"><input type="checkbox" id="check34" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text"><div class="color green">Зеленый</div></div></label></li>
        <li><label for="check35" class="checkbox__item"><input type="checkbox" id="check35" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text"><div class="color orange">Оранжевый</div></div></label></li>
        <li><label for="check36" class="checkbox__item"><input type="checkbox" id="check36" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text"><div class="color purple">Фиолетовый</div></div></label></li>
        <li><label for="check37" class="checkbox__item"><input type="checkbox" id="check37" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text"><div class="color dark_blue">Темно-синий</div></div></label></li>
      </ul>

    </div>
    <div class="sidebar__elem">
      <div class="elem__title">
        <div class="name">Цена</div>
        <div class="arrow__top"></div>
      </div>
      <div class="elem__info">
  <div id="slider-range" max="40000"></div>
    <label for="amount">  <input type="text" id="amount"></label>




      </div>

    </div>
    <div class="sidebar__elem">
      <div class="elem__title">
        <div class="name">Стиль</a></div>
        <div class="arrow__top"></div>
      </div>
      <div class="elem__info">
        <select name="" id="" class="select__style">

   <option value="">Ультрамодный</option>
 </select>
      </div>

    </div>
    <div class="sidebar__elem">
      <div class="elem__title">
        <div class="name"><a href="">Коллекция</a></div>
        <div class="arrow__right"></div>
      </div>

    </div>
    <div class="sidebar__elem">
      <div class="elem__title">
        <div class="div">Материал</div>
        <div class="arrow__top"></div>
      </div>
      <ul class="elem__info list__materials">
        <li><label for="check38" class="checkbox__item"><input type="checkbox" id="check38" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Акрил</div></label></li>
        <li><label for="check39" class="checkbox__item"><input type="checkbox" id="check39" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Вискоза</div></label></li>
        <li><label for="check40" class="checkbox__item"><input type="checkbox" id="check40" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Дерево</div></label></li>
        <li><label for="check41" class="checkbox__item"><input type="checkbox" id="check41" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Искусственная замша</div></label></li>
        <li><label for="check42" class="checkbox__item"><input type="checkbox" id="check42" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Искусственная кожа</div></label></li>
        <li><label for="check43" class="checkbox__item"><input type="checkbox" id="check43" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Гусиный пух</div></label></li>
        <li><label for="check44" class="checkbox__item"><input type="checkbox" id="check44" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Микрофибра</div></label></li>
        <li><label for="check45" class="checkbox__item"><input type="checkbox" id="check45" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Натуральная замша</div></label></li>
        <li><label for="check46" class="checkbox__item"><input type="checkbox" id="check46" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Полиамид</div></label></li>
        <li><label for="check47" class="checkbox__item"><input type="checkbox" id="check47" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Полимер</div></label></li>
        <li><label for="check48" class="checkbox__item"><input type="checkbox" id="check48" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Лен</div></label></li>
        <li><label for="check49" class="checkbox__item"><input type="checkbox" id="check49" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Хлопок</div></label></li>
        <li><label for="check50" class="checkbox__item"><input type="checkbox" id="check50" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Шелк</div></label></li>

      </ul>
    </div>
  </div>
  <button class="btn btn-blue"><span>Сбросить все фильтры</span></button>
  <div class="sidebar__elem subscription">
    <div class="elem__title">
      <div><a href="">Коллекция</a></div>
    </div>
    <div class="elem__info">
      <ul>
        <li><label for="check51" class="checkbox__item"><input type="checkbox" id="check51" class="checkbox"><div class="checkbox__custom"></div><div class="checkbox__text">Учитывать фильтры</div></label></li>

      </ul>
      <form class="email">
        <input type="text" class="email__field" placeholder="Ваша эл. почта">
          <button></button>
      </form>


    </div>
  </div>

</aside>
